<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="./static/css/style.css">
        <title>Study with Friend</title>
    </head>
    <body>
        <header>
            <h1><a href = "./">Study with Friend</a></h1>
            <ul>
                <li><a href = "./index">質問リスト</a></li>
                <li><a href = "./index">マイページ</a></li>
                <li><a href = "./index">ログイン</a></li>
            </ul>
            <hr>
        </header>
        <main>
            <div class="explanations">
                <div class="explanation">
                    <h2>解説</h2>
                    {% for i in explanation.text %}
                    <p>{{i}}</p>
                    {% endfor %}
                </div>

                <div class="references">
                    <h3>参考</h3>
                    {% for url in explanation.urls %}
                    <a href = "{{url}}">{{url}}</a>
                    {% endfor %}
                    <form action="/upload" method="POST" class="explanationsform">
                        <input type="hidden" name = "title" value="{{explanation.problem[0:30]}}"> 
                        <input type="hidden" name = "text" value="{{explanation.text}}">  
                        <button class="yes">分かった</button>
                        <button type="submit" class="no">分からなかった</button>
                    </form>
                </div>
            </div>

        </main>
        <footer>&copy:Share Nexus</footer>
    </body>
</html>